@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 10px">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Historico</h4>

                <div dir="ltr">
                    <div class="mt-3 chartjs-chart" style="height: 320px;">
                        <canvas id="example"></canvas>
                    </div>
                </div>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Gastos Este Mes: @ViewData["currentGasto"]₡</h4>

                <div dir="ltr">
                    <div class="mt-3 chartjs-chart" style="height: 320px;">
                        <canvas id="radar-chart-example" data-colors="#44badc,#474d56"></canvas>
                    </div>
                </div>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>

@section Scripts
{

    <!-- third party js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
    <script src="~/js/MyJS.js"></script>
    <script>
        const dgastos = @Html.Raw(Json.Serialize(ViewData["Gastos"]));
        const dingresos = @Html.Raw(Json.Serialize(ViewData["Ingresos"]));
        const dcurrentgastos = @Html.Raw(Json.Serialize(ViewData["currentGastos"]));
        const dcategorias = getCategorias(dcurrentgastos);
        const gastos = getDataMonth(dgastos, 1).slice(2, 8);
        const ingresos = getDataMonth(dingresos, 1).slice(2, 8);
        const labels = ['Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto']
        const labels2 = ['Servicios','Alimentación','Transferencias','Compras','Transporte']
        const data =
        {
            labels: labels,
            datasets: [
                {
                    label: 'Gastos',
                    data: gastos,
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgb(255, 99, 132, 0.5)',
                },
                {
                    label: 'Ingresos',
                    data: ingresos,
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgb(54, 162, 235, 0.5)',
                }
            ]
        };
        const data2 = {
            labels: labels2,
            datasets: [{
                label: "Dataset 1",
                data: dcategorias,
                backgroundColor: ["RGB(193, 53, 132)", "RGB(48, 77, 99)", "RGB(242, 208, 150)", "RGB(136, 255, 188)","RGB(52, 194, 173)"],
            }]
        }
        const config = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                //indexAxis: 'y',
                plugins: {
                    legend: {
                        display: true,
                        position: 'right',
                    }
                }
            }
        }
        const config2 = {
            type: 'doughnut',
            data: data2,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: false,
                        text: 'Gastos'
                    }
                }
            },
        };
        const canva = document.getElementById("example")
        const canva2 = document.getElementById("radar-chart-example")
        var myChart = new Chart(canva, config)
        var myChar2 = new Chart(canva2, config2)
    </script>
}
